@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

:root {
  font-family: 'Archivo Black', sans-serif;
  /* line-height: 1.5; */
  font-weight: 400;
  font-style: normal;
}
