@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import "tailwindcss";

:root {
  font-family: 'Archivo Black', sans-serif;
  /* line-height: 1.5; */
  font-weight: 400;
  font-style: normal;

  color-scheme: light dark;
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  @apply pb-5;
}

h3 {
  font-size: 2em;
}

p {
  @apply text-xl text-black;
}

.main-link {
  @apply text-xl text-black relative inline-block p-3;
}

a {
  @apply text-xl text-black relative inline-block text-blue-500;
}

.main-link::after {
  content: '';
  @apply absolute left-0 bottom-0 w-0 h-full bg-[#9FE2FF] transition-all duration-300;
  z-index: -1;
}

.main-link:hover::after {
  @apply w-full;
}